/*ON ALL PAGES*/

body {
	font-family: "Fridge", Verdana, Tahoma;
	background: url("Images/white-noise.jpg");
}

@font-face {
    font-family: "Fridge";
    src: url(Fridge.ttf) format("truetype");
}

Header {
	background: url("Images/file000612102790.jpg");
	background-size: cover;
	position: relative;
	text-align: center;
	height: 100%;
}

h1 .green {
	color: #9EE177;
}

h1 .pink {
	color: #D785A9;
}

h1 .blue {
	color: #72C6E0;
}

h1 {
	display: inline-block;
	font-size: 100px;
	margin-top: 10%;
	margin-bottom: 10%;
}


h2 {
	text-decoration: underline;
	margin-left: 10px;
	margin-top: 100px;
	text-align: left;
	font-style: underline;
}

/*NAVIGATION BAR*/

.menu ul {
	position: relative;
	margin-top: 40px;
	list-style-type: none;
	display:inline-block;
	float: right;
}

.menu li {
	font-size: 30px;
	font-weight: bold;
	padding: 15px;
	margin: 0 20px 0 20px;
	float: left;
}


.menu li a {
	color: black;
	text-decoration: none;
}

.menu li a:hover {
	text-decoration: underline;
	font-color: #D785A9;
}

/*FOOTER*/

.social-icon img {
	display: inline-block;
	margin: 20px;
}

#footer {
	background-color: #9EE177;
	position: relative;
	bottom: 0;
	text-align: center;
}

/*HOMEPAGE*/


.about {
  	background-color: #D785A9;
  	font-size: 37px;
  	padding: 40px 80px 50px 80px;
  	text-align: center;
  	padding-bottom: 500em;
    margin-bottom: -500em;
}

.img-circle {
	border-radius;
	float: left;
	margin-right: 20px;
}

.testimonial {
  	background-color: #9EE177;
  	font-size: 23px;
  	font-style: italic;
  	padding: 30px 60px 40px 70px;
  	text-align: center;
  	padding-bottom: 400em;
    margin-bottom: -400em;
}

.row2 {
	overflow: hidden;
    width: 100%;
}


/*GET INVOLVED PAGE*/

.main {
	text-align: center;
}

#Give-Form {
	text-align: center;
	display: none;
}
.give {
	color: purple;
	background-color: #D785A9;
	font-size: 20px;
}
.give-btn {
	color: purple;
	background-color: #D785A9;
	font-size: 20px;
}
#spec {
	color: white;
}

#Get-Form {
	text-align: center;
	display: none;
}
.get {
	color: purple;
	background-color: #9EE177;
	font-size: 20px;
}
.get-btn{
	color: purple;
	background-color: #9EE177;
	font-size: 20px;
}
#match {
	color: white;
}


/*SLIDER*/


.jcarousel-wrapper {
    margin: 20px auto;
    margin-top: 100px;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

